{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    ["direct-import", ["@material-ui/core", "@material-ui/utils"]],
    "transform-runtime",
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-rest-spread"
  ]
}